/* You can add global styles to this file, and also import other style files */
/* Show it is fixed to the top */
@import "~@ng-select/ng-select/themes/default.theme.css";
body {
  min-height: 75rem;
  padding-top: 1rem;
  background-color: #f8f9fa;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
